<div class="container mt-2 ">
        <div class="tile is-ancestor">
            <div class="tile is-4 is-vertical is-parent">
              <div class="tile is-child box">
                <p class="title">Ticket Closing Mail</p>
                <p class="title">To:</p>
                <li>User's Email</li>
                <p class="title">
                   CC:
                </p>
                <li>KolkataIS.IMLeads@tcs.com</li>
                <hr>
                <p class="title-2">Ticket Closing Mail</p>
              </div>
              
              <!-- <div class="tile is-child box">
                <p class="title">Two</p>
              </div> -->
            </div>
            <div class="tile is-parent">
              <div class="tile is-child box">
                <p class="title">Infospace Vendor approval mails</p>
                <p class="title ">To:</p>
                <li>p.ghosh3@tcs.com</li>
                <li>Balbinder.Chauhan@tcs.com</li>
                <li>infospacekol.security@tcs.com</li>
                <li>infospacebpokol.adminhelpdesk@tcs.com</li>
                <li>Nirmalya.kar@tcs.com</li>
                <li>security.candorkol@ap.jll.com</li>
                <p class="title"></p>
                <p class="title">Oval Vendor approval mails</p>
                <p class="title">To:</p>
                <li>security.candorkol@ap.jll.com</li>
                <li>munmun.guha@tcs.com</li>
                <li>ovalkol.security@tcs.com</li>


              </div>
            </div>
          </div>
    </div>