    <div id="chage_content ">
      <section class="hero is-medium is-link is-fullheight is-dark" >
        <div class="container hero-body has-text-centered is-dark">
          <div class="">
            <p class="title">
             Email Generator
            </p>
            <p class="subtitle">
              for alsis
            </p>
          </div>
        </div>
      </section>
    </div>